/* ReviewCard.css */
.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.user-name {
    margin-left: 10px;
    font-weight: bold;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: grey;
}

.star.filled {
    color: gold;
}

.review-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.review-footer {
    font-size: 14px;
    color: #666;
}

.review-verified {
    color: #4CAF50;
    margin-left: 10px;
}

.review-date {
    color: #999;
}

.review-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}


.review-actions {
    display: flex;
    gap: 4px;
  }

  .review-actions button:first-child {
    margin-left: 4px;
  }