/* AboutUs.css */

.banner-container {
    background-image: url('https://ik.imagekit.io/tvlk/blog/2023/07/nyBBvwZY-canh-dep-thien-nhien-Viet-Nam-12.jpg'); /* Add your image URL here */
    color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner h1 {
    font-size: 48px;
    font-weight: 300;
  margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .explore-button {
    background-color: #00B4D8;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .explore-button:hover {
    background-color: #008CBA;
  }
  
  .filter-box {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Adjust width */
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px; /* Overlay effect */
  }
  
  .filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .filter-form input[type="text"],
  .filter-form input[type="date"],
  .filter-form input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 22px); /* Adjust input width for responsiveness */
  }
  
  .filter-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }

  .input-group-text {
    background-color: #f0f0f0;
    border: none;
    color: #6a11cb;
    font-size: 16px;
  }
  
  .form-control {
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #6a11cb;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(106, 17, 203, 0.6);
  }
  
  @media (max-width: 768px) {
    .filter-form input[type="text"],
    .filter-form input[type="date"],
    .filter-form input[type="number"] {
      width: 100%; /* Full width on smaller screens */
    }
  }